{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="summary col-md-12 {{post_class}}">
    <header style="display:inline-block;">
        <h2 class="title" style="display:inline-block;">
        <a href="{{url}}" style="display:inline-block;">{{{title}}}
        </a>

        </h2>

    </header> <div class="subhead" style="display:inline-block;">{{tags prefix="<span class='fa fa-tags'></span>&nbsp;"}}</div>
    <section class="description">
        <p>{{excerpt words="30"}}</p>
    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="row text-center">
    <div class="col-xs-12">
        {{pagination}}
    </div>
</div>
